# Ray behavior
RAY_ACCEL_ENV_VAR_OVERRIDE_ON_ZERO=0

# HTTP server settings
ML_HOST=0.0.0.0
ML_HTTP_PORT=8000

# Sentiment model settings
ML_SENTIMENT__MODEL_NAME=distilbert-base-uncased-finetuned-sst-2-english
ML_SENTIMENT__NUM_REPLICAS=2
ML_SENTIMENT__NUM_CPUS=1
ML_SENTIMENT__DEVICE=-1

# Summarization model settings
ML_SUMMARIZATION__MODEL_NAME=sshleifer/distilbart-cnn-12-6
ML_SUMMARIZATION__NUM_REPLICAS=1
ML_SUMMARIZATION__NUM_CPUS=2
ML_SUMMARIZATION__DEVICE=-1
